@model Students_Portal_App.ViewModels.AddPaperViewModel

<h3>Add Paper Department Wise</h3>


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form asp-action="AddPaper" asp-controller="Student" method="post">

    <div class="form-group">
        <label asp-for="PaperCode"></label>
        <input asp-for="PaperCode" class="form-control" />
        <span asp-validation-for="PaperCode" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PaperTitle"></label>
        <input asp-for="PaperTitle" class="form-control" />
        <span asp-validation-for="PaperTitle" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Department Name</label>
        <select asp-for="DepartmentId" asp-items="ViewBag.Departments" class="form-control">
            <option value="">Select Department</option>
        </select>
        <span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="CourseName"></label>
        <input asp-for="CourseName" class="form-control" />
        <span asp-validation-for="CourseName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PaperDescription"></label>
        <textarea asp-for="PaperDescription" class="form-control"></textarea>
        <span asp-validation-for="PaperDescription" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Save Paper</button>
    <a asp-action="ViewPaper" class="btn btn-secondary mt-2 ms-2">Back</a>  

</form>

@section Scripts 
{
    <partial name="_ValidationScriptsPartial" />
}
